.center{ margin: 0 auto;}
.content{margin: 0 auto; width: 900px;}
.clear{clear:both;}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}

h1{
  font-family: "Arvo";
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: rgb(30, 48, 94);
  margin: 0;
  padding: 0;
}

h2{
  font-family: "Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: rgb(30, 48, 94);
  margin: 0;
  padding: 0;
}

h3{
  font-family: Oswald;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: rgb(30, 48, 94);
  margin: 0;
  padding: 0;
}

p{
  font-family: "Arvo";
  font-weight: normal;
  font-size: 35px;
  text-align: center;
  color: rgb(30, 48, 94);
  margin: 0;
  padding: 0;
}

#header{
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

#nav{
  width: 650px;
  float: right;
  margin-top: 20px;
  font-family: "Arvo"
}

#logo a{
  color: white;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Wellfleet";
  font-weight: bold;
}

#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
}
#nav li{
  margin-top: 9px;
  float: left;
  padding-left: 20px;
  color: white;
}
#nav li a{
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: "Wellfleet";
}
#nav li a.active {
  color: #fff;
  opacity:1;
  border-bottom: 2px solid rgb(255, 255, 255);
}
#nav li a:hover {
  color: red;
  opacity:1;
}

.introduction-container{
  width: 600px;
  margin: 0 auto;
}
.namee{
  font-family:"Wellfleet";
  margin: 60px 0 0 0;
  color: #e40e0e;
  font-size: 20px;
}
#hello, #introduction{width: 100%; }
#hello{
  background: url('../img/agriculture-2.jpg') 60% 0 no-repeat fixed;
  color: #fff;
  height: 500px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}

#introduction{
background-color: #1ac91c;
color: #3a3746;
height: 400px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}

#objective{
  background: url(../img/dreams.jpg) 67% 0 no-repeat fixed;
  color: white;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}

#project{
  background-color: #acacac;
  color: #333333;
  height: 300px;
  padding: 200px 0;
}

#contact{
  background: url(../img/contact.jpg) 50% 0 no-repeat fixed;
  height: 200px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
}
